<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pupezaur">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_logo"
        android:label="Astrid Swim"
        android:roundIcon="@mipmap/launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m"
        android:name=".PhoneConnection.OfflineActivity">

        <!-- pagina de register -->
        <activity
            android:name=".PhoneConnection.AdminPhoneRegister"
            android:label="Astrid Swim">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- pagina principala -->
        <activity
            android:name=".Days.MondayAdmin"
            android:label="Astrid Swim"></activity>
        <activity
            android:name=".Days.TuesdayAdmin"
            android:label="Astrid Swim"></activity>
        <activity
            android:name=".Days.WednesdayAdmin"
            android:label="Astrid Swim"></activity>
        <activity
            android:name=".Days.ThursdayAdmin"
            android:label="Astrid Swim"></activity>
        <activity
            android:name=".Days.FridayAdmin"
            android:label="Astrid Swim"></activity>
        <activity
            android:name=".Days.SaturdayAdmin"
            android:label="Astrid Swim"></activity>
        <activity
            android:name=".Days.SundayAdmin"
            android:label="Astrid Swim"></activity>

        <!-- pagina de chat -->
        <activity
            android:name=".MainActivities.AdminChatActivity"
            android:label="Chat"
            android:parentActivityName=".Days.MondayAdmin"
            android:windowSoftInputMode="adjustResize" />

        <!-- pagina de setari -->
        <activity
            android:name=".MainActivities.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".Days.MondayAdmin" />

<!--        Parent app-->

<!--        pagina de login-->
        <activity
            android:name="com.example.parentsapp.PhoneConnections.UserPhoneRegister"
            android:label="Astrid Swim">

        </activity>
<!--        pagina principala-->
        <activity
            android:name="com.example.parentsapp.MainActivities.UserActivityMain"
            android:label="Astrid Swim">
        </activity>
<!--        pagina de chat-->
        <activity
            android:name="com.example.parentsapp.MainActivities.UserChatActivity"
            android:label="Chat">
        </activity>

        <service
            android:name=".Notifications.NotificationExtender"
        android:permission="android.permission.BIND_JOB_SERVICE"
        android:exported="false">
        <intent-filter>
            <action android:name="com.onesignal.NotificationExtender" />
        </intent-filter>
    </service>

    </application>

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>